body {
    color:lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    background-color:maroon;
}
#Wrapper {
    width:80%;
    height:auto;
    margin:auto;
    background-color:lightgray;
    padding-bottom:20px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    overflow:hidden;
}
#Banner {

}
#NavBar{
    height:45px;
    background:linear-gradient(to top, black, maroon);

}
#Nav{
    display:block;
    list-style:none;
    text-align:center;
}
#Nav ul{
    display:none;
    list-style:none;
}
#Nav li{
    color:lightgray;
    text-shadow:2px 2px 2px black;
    float:left;
    display:block;
    margin-top:15px;
    padding:0px 20px 0px 20px;
    border-left:1px solid lightgray;
}
#Nav a:link, #Nav a:visited, #Nav a:active{
    display:block;
    color: #ffffff;
    text-shadow:2px 2px 2px black;
    text-decoration:none;
}
#Nav a:hover{
    background-color:white;
}
#Content{
    padding:20px;
    min-height:400px;
    color:black;
}
.foodTable{
    width: 100%;
    height:250px;
    margin:10px 10px 10px 0;
    border:3px solid black;
    border-radius:10px;
    -moz-border-radius:10px;
}
 .fooTable tr th, .foodTable tr td, .foodTable tr h2{
     text-align:center;
     color:maroon;
     text-shadow:1px 1px 1px darkgray;
     padding:0px 5px 0px 5px;
}
 .foodTable img{
     padding:0px 10px 10px 10px;
     height:150px;
     width:150px;
 }
 #pnl_Out div{
     float:left;
     width:250px;
     height:250px;
 }
 #ContentPlaceHolder2_pnl_Out div{
     float:left;
     width:250px;
     height:250px;
 }
 .ProductsName 
{
    margin: 0px 5px 5px 0px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-shadow: 2px 2px 2px white;
}

.ProductsPrice 
{
    margin: 0px 5px 5px 0px;
    width: 150px;
    color: maroon;
    font-size:20px;
    text-shadow: 2px 2px 2px black;
}

.ProductsImage 
{
    width: 150px;
    height: 150px;
    vertical-align: central;
    padding: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}